---
import Layout from '../../layouts/Layout.astro';

const artistas = [
  {
    id: 'maria',
    nombre: 'María C',
    descripcion: 'Maria Carolina Ardila nació en Bogotá y se crió en Bucaramanga. Se mueve entre el quehacer del arte, la escritura y lo audiovisual.',
    imagen: '/imagenes/mariac.jpg'
  },
  {
    id: 'laura',
    nombre: 'Laura Sofia',
    descripcion: 'Laura Sofía Montoya Gómez nació, creció y vive en Medellín. Es arquitecta, docente universitaria y magíster en Arquitectura, Crítica y Proyecto.',
    imagen: '/imagenes/luara2.png'
  },
  {
    id: 'sandra',
    nombre: 'Sandra Ramirez',
    descripcion: 'Narradora visual, andariega de los Andes, bogadora de Chicha, atisbadora y aprendiz en las artes de caminar y contemplar. ',
    imagen: '/imagenes/sandra.jpeg'
  }
];
---

<Layout title="Juntxs: Encuentros vivos, cultura en movimiento | Circulación">
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 sm:py-12">
    <h1 class="text-3xl sm:text-4xl font-bold text-white mb-4 sm:mb-8 text-center">Circulación</h1>


  <p class="bg-primary/80 rounded-xl m-4 p-2 text-lg text-white mb-6 sm:mb-8">
    El Festival de La Tigra es un proceso cultural y artístico desarrollado en el municipio de Piedecuesta- Santander desde 2016 y que de forma ininterrumpida ha posibilitado el encuentro del ecosistema artístico local, regional y nacional. El proceso cultural, social y educativo del Festival de la Tigra, tiene como propósito fortalecer los procesos culturales y artísticos comunitarios, esto, a través de la ejecución de una programación que reconoce, fortalece y proyecta las propuestas desarrolladas en el territorio. 
    <br />
    <br />
    Dicha programación, a su vez, busca estrechar la interacción entre artistas, gestores, activistas locales, nacionales e internacionales. La Tigra busca visibilizar, difundir y aportar a la consolidación del sector cultural de la región, bajo un enfoque de cultura viva y comunitaria, que teje y fortalece relaciones sociales desde los procesos artísticos y culturales. 
    <br />
    <br />
    Tras siete versiones, el Festival se ha logrado consolidar como una plataforma de gestión, producción y comunicación sólida y relevante para la región, posibilitando en torno a sí, la emergencia y desarrollo de numerosos proyectos culturales. Entre ellos se destacan la Biblioteca Comunitaria La Bellecera, la escuela de cine, el laboratorio de música La Bellecera, y el semillero batucada Guaricha.
    <br />
    El Festival se gestó ante los pocos espacios disponibles para la circulación, la desarticulación de los procesos culturales locales y la invisibilización de las prácticas artísticas comunitarias, rurales y/o periféricas. El Festival busca, asimismo, superar el poco acceso a las dinámicas artísticas y culturales para la ciudadanía en general, como parte de la garantía de los derechos culturales en el municipio de Piedecuesta. Como alternativas de solución a estos fenómenos, el Festival se ha propuesto abordar y ofrecer además de espectáculos de alta calidad, un proceso pedagógico que cuenta con siete años de experiencia, promoviendo la apropiación cultural por medio de un ciclo de formación y otro ciclo de shows musicales que dan cuenta de los procesos culturales y artísticos territoriales. 
    <br />
    <br />
    En el marco de la octava versión del Festival se realizará un proceso de circulación del Programa Arte y Pensamiento de Platohedro, por medio del cual tres (3) artistas de Medellín, que actualmente forman parte del proyecto Juntxs: Estrategias Colectivas para el Cuidado del Agua, van a participar en el Festival de la Tigra ofreciendo actividades artístico-pedagógicas colectivas. Esto contribuirá a la proyección de estas artistas en nuevos ámbitos de intercambio y su visibilidad. 
    <br />
    <br />
    Juntxs: Estrategias colectivas para el cuidado del agua es un ciclo de residencias que busca profundizar sobre maneras locales y situadas de abordar la justicia ambiental, especialmente el cuidado del agua como recurso esencial. Busca hacerlo mediante la experimentación artística y la pedagogía alternativa con enfoque colectivo y comunitario; y para ello propone tres residencias artísticas que desarrollarán procesos creativos junto a la comunidad, enfocados principalmente a jóvenes, cuya temática aborde reflexiones, propuestas o estrategias para el cuidado del agua con asesoría de colectivos y organizaciones especializadas en esta temática.
    <br />
    <br />
  </p>


    
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 sm:gap-6 md:gap-8">
      {artistas.map(artista => (
        <a href={`/circulacion/${artista.id}`} class="block group">
          <div class="bg-white rounded-lg shadow-md overflow-hidden transition transform hover:scale-105">
            <img src={artista.imagen} alt={artista.nombre} class="w-full h-40 sm:h-48 object-cover" />
            <div class="p-4 sm:p-6">
              <h2 class="text-xl sm:text-2xl font-semibold text-gray-900 mb-2">{artista.nombre}</h2>
              <p class="text-lg text-gray-600">{artista.descripcion}</p>
            </div>
          </div>
        </a>
      ))}
    </div>
  </main>
</Layout>